.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #fceeee;
  flex-wrap: wrap;
}

.subscribe input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.subscribe button {
  background-color: #d8a6a1;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.subscribe button:hover {
  background-color: #b57c77; 
}

.icons {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}