.pricing-container {
padding: 30px;
max-width: 1000px;
margin: auto;
}

h2 {
text-align: center;
margin-bottom: 20px;
}

.table-scroll {
overflow-x: auto;
}

.pricing-table {
width: 100%;
border-collapse: collapse;
text-align: center;
background: #fff;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
border-radius: 8px;
overflow: hidden;
}

.pricing-table th,
.pricing-table td {
border: 1px solid #ddd;
padding: 12px;
}

.pricing-table th {
background-color: white;
color:black;
font-weight: bold;
}

.pricing-table input {
width: 100%;
padding: 6px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 4px;
}

.select-btn {
padding: 6px 14px;
background-color: white;
color: black;
border: none;
border-radius: 6px;
cursor: pointer;
}

.select-btn:hover {
background-color:  #b57c77;
}

.edit-save-section {
text-align: center;
margin-top: 20px;
}

.edit-btn,
.save-btn {
padding: 10px 25px;
background-color: #d8a6a1;
color: white;
border: none;
border-radius: 6px;
font-size: 16px;
cursor: pointer;
}

.edit-btn:hover,
.save-btn:hover {
background-color: #b57c77;
}